# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Claude
/.claude

# uv
.venv/
uv-cache/

# Environment
.env
.env.*

# Project
/instance

# IDE
.idea/
.vscode/

# OS
.DS_Store